{# templates/create/add_country.html #}
{% extends "site_base.html" %}

{% block head_title %}Add a Country for your Ad{% endblock head_title %}

{% block extra_head %}
	<link rel="stylesheet" href="/site_media/css/widgets.css" type="text/css" media="screen" title="no title" charset="utf-8">
	{# // <script src="/site_media/js/widgets.js" type="text/javascript" charset="utf-8"></script> #}

{% endblock extra_head %}

{% block body %}
	<div class="section" id="wide_column">
		<h1>Add a New Country</h1><br/><br/>


		
		<form action="." method="POST">
			<div>{{ form.name.errors }}</div>
			<div class="leftcol">{{ form.name.label_tag }}</div>
			<div class="rightcol" id='id_resort'>
				{{ form.name }}
			</div>
			<div class="clearer"></div>			
			

			<div id="add_next"><input type="submit" value="Add Country" /></div>
		</form>
		

	</div>


{% endblock %}
