{# templates/create/chart.html #}
{% extends "base.html" %}

{% block head_title %}Create and Ad{% endblock head_title %}
{% block extra_head %}
	<style type="text/css" media="screen">
		.section{padding-left:0px;padding-right:0px;}
		#wide_column{width:916px;}
		.section h1{padding:0 0 20px 20px;}
	</style>
{% endblock %}

{% block body %}
	<div class="section" id="wide_column">
		<h1>Select the ad that's right for you</h1>
		
		<div class="graph">
			<div class="graphrow graphheader">
				<div id='col1'><h2 class='freeh2'>Free</h2><h3><span>&#36;</span>0</h3></div>
				<div id='col2'><h2 class='bronzeh2'>Bronze</h2><h3><span>&#36;</span>80</h3></div>
				<div id='col3'><h2 class='silverh2'>Silver</h2><h3><span>&#36;</span>120</h3></div>
				<div id='col4'><h2 class='goldh2'>Gold</h2><h3><span>&#36;</span>250</h3></div>
			</div><div class='clearer'></div>
			<div class="graphrow graphpics">
				<div>
					<a href="{% url newadcreate 'free' %}" class='picchart'>
						<img src="/site_media/images/adlogos/freetag.png" class="adtag" alt="bt_free"></img>
					</a>
				</div>
				<div>
					<a href="{% url newadcreate 'bronze' %}"  class='picchart'>
						<img src="/site_media/images/adlogos/bronzetag.png" class="adtag" alt="bronze"></img>
					</a>
				</div>
				<div>
					<a href="{% url newadcreate 'silver' %}"  class='picchart'>
						<img src="/site_media/images/adlogos/silvertag.png" class="adtag" alt="silver"></img>
					</a>
				</div>
				<div>
					<a href="{% url newadcreate 'gold' %}"  class='picchart'>
						<img src="/site_media/images/adlogos/goldtag.png" class="adtag" alt="gold"></img>
					</a>
				</div>
			</div><div class='clearer'></div>
			<div class="graphrow graphlower">
				<div>Description: 40 Words</div>
				<div>Description: 100 Words</div>
				<div>Description: Unlimited Words</div>
				<div>Description: Unlimited Words</div>
			</div><div class='clearer'></div>
			<div class="graphrow graphlower darkrow">
				<div>1 picture</div>
				<div>3 pictures</div>
				<div>10 pictures</div>
				<div>10 pictures</div>
			</div><div class='clearer'></div>
			<div class="graphrow graphlower">
				<div>&nbsp;</div>
				<div>Featured Listing</div>
				<div>Featured Listing</div>
				<div>Featured Listing</div>
			</div><div class='clearer'></div>
			<div class="graphrow graphlower darkrow">
				<div>Ad Length: 2 months</div>
				<div>Ad Length: 6 months</div>
				<div>Ad Length: 12 months</div>
				<div>Ad Length: Lifetime</div>
			</div><div class='clearer'></div>
			<div class="graphrow graphlower">
				<div>Private Messaging</div>
				<div>Private Messaging</div>
				<div>Private Messaging</div>
				<div>Private Messaging</div>
			</div><div class='clearer'></div>
			<div class="graphrow graphlower darkrow">
				<div>Inline Ads</div>
				<div>No Ads</div>
				<div>No Ads</div>
				<div>No Ads</div>
			</div><div class='clearer'></div>
			{# <div> #}
			{# 	<div class='descgraph'>Price</div> #}
			{# 	<div>Free</div> #}
			{# 	<div>$80</div> #}
			{# 	<div>$120</div> #}
			{# 	<div>$250</div> #}
			{# </div> #}
			{# <div> #}
			{# 	<div class='descgraph'>&nbsp;</div> #}
			{# 	<div> #}
				{# 	<a href="{% url newadcreate 'free' %}" class='picchart'> #}
				{# 		<img src="/site_media/images/adlogos/freetag.png" class="adtag" alt="bt_free"></img> #}
				{# 	</a> #}
				{# </div> #}
				{# <div> #}
				{# 	<a href="{% url newadcreate 'bronze' %}"  class='picchart'> #}
				{# 		<img src="/site_media/images/adlogos/bronzetag.png" class="adtag" alt="bronze"></img> #}
				{# 	</a> #}
				{# </div> #}
				{# <div> #}
				{# 	<a href="{% url newadcreate 'silver' %}"  class='picchart'> #}
				{# 		<img src="/site_media/images/adlogos/silvertag.png" class="adtag" alt="silver"></img> #}
				{# 	</a> #}
				{# </div> #}
				{# <div> #}
				{# 	<a href="{% url newadcreate 'gold' %}"  class='picchart'> #}
				{# 		<img src="/site_media/images/adlogos/goldtag.png" class="adtag" alt="gold"></img> #}
				{# 	</a> #}
			{# 	</div> #}
			{# </div> #}
		</div>
	</div>
{% endblock %}











{# <div class="section" id="wide_column"> #}
{# 	<h1>Which ad is right for you?</h1><br/><br/> #}
{# 	<table class="graph"> #}
{# 		<div> #}
{# 			<div id='firstcol'></div><div id='secondcol'><h2 class='freeh2'>Free</h2></div><div id='divirdcol'><h2 class='bronzeh2'>Bronze</h2></div><div id='divirdcol'><h2 class='silverh2'>Silver</h2></div><div id='divirdcol'><h2 class='goldh2'>Gold</h2></div> #}
{# 		</div> #}
{# 		<div> #}
{# 			<div class='descgraph'>Words</div><div>40 words</div><div>100 words</div><div>unlimited words</div><div>unlimited words</div> #}
{# 		</div> #}
{# 		<div> #}
{# 			<div class='descgraph'>Pictures</div><div>1 pictures</div><div>3 pictures</div><div>10 pictures</div><div>10 pictures</div> #}
{# 		</div> #}
{# 		<div> #}
{# 			<div class='descgraph'>Featured Listing</div><div>no</div><div>yes</div><div>yes</div><div>yes</div> #}
{# 		</div> #}
{# 		<div> #}
{# 			<div class='descgraph'>Lengdiv</div><div>2 mondivs</div><div>6 mondivs</div><div>12 mondivs</div><div>Lifetime</div> #}
{# 		</div> #}
{# 		<div> #}
{# 			<div class='descgraph'>Private Messaging</div><div>yes</div><div>yes</div><div>yes</div><div>yes</div> #}
{# 		</div> #}
{# 		<div> #}
{# 			<div class='descgraph'>Statistics</div><div>no</div><div>yes</div><div>yes</div><div>yes</div> #}
{# 		</div> #}
{# 		<div> #}
{# 			<div class='descgraph'>Price</div><div>Free</div><div>$80</div><div>$120</div><div>$250</div> #}
{# 		</div> #}
{# 		<div> #}
{# 			<div class='descgraph'>&nbsp;</div> #}
{# 			<div> #}
{# 				<a href="{% url newadcreate 'free' %}" class='picchart'> #}
{# 					<img src="/site_media/images/adlogos/freetag.png" class="adtag" alt="bt_free"></img> #}
{# 				</a> #}
{# 			</div> #}
{# 			<div> #}
{# 				<a href="{% url newadcreate 'bronze' %}"  class='picchart'> #}
{# 					<img src="/site_media/images/adlogos/bronzetag.png" class="adtag" alt="bronze"></img> #}
{# 				</a> #}
{# 			</div> #}
{# 			<div> #}
{# 				<a href="{% url newadcreate 'silver' %}"  class='picchart'> #}
{# 					<img src="/site_media/images/adlogos/silvertag.png" class="adtag" alt="silver"></img> #}
{# 				</a> #}
{# 			</div> #}
{# 			<div> #}
{# 				<a href="{% url newadcreate 'gold' %}"  class='picchart'> #}
{# 					<img src="/site_media/images/adlogos/goldtag.png" class="adtag" alt="gold"></img> #}
{# 				</a> #}
{# 			</div> #}
{# 		</div> #}
{# 	</table> #}
{# </div> #}