{# templates/create/free.html #}
{% extends "site_base.html" %}

{% block head_title %}Create a Free Ad{% endblock head_title %}
{% block extra_head %}
	<link rel="stylesheet" href="/site_media/css/widgets.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="/site_media/js/widgets.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			dateranger();
			
			$('#new_resort_name').css({'display':'none'});
			$('#add_resort').click(function(){
				$('.somediv').append($('#add_resort')[0].checked);
				if($('#add_resort')[0].checked){
					$('#new_resort_name').css({'display':''});
					$('#id_resort').val(0);
					$('#id_resort').attr("disabled", true);
				}else{
					$('#new_resort_name').css({'display':'none'});
					$('#id_resort').removeAttr("disabled");
				}
			})
		});
		
	</script>
{% endblock extra_head %}

{% block body %}
	<div class="section" id="wide_column">
		<img src="/site_media/images/circle-logosf.gif" class="right" alt="bt_free"></img>


		<h1 class="adformh1">Free Ad</h1>

		
		<form action="." method="POST">
			<div>{{ form.name.errors }}</div>
			<div class="leftcol">{{ form.name.label_tag }}</div>
			<div class="rightcol">{{ form.name }}</div>
			<div class="clearer"></div>
			
			
			<div>{{ form.description.errors }}</div>
			<div class="clearer"></div>
			<div class="leftcol">{{ form.description.label_tag }}</div><div class="rightcol">{{ form.description }}</div>
			<div class="clearer"></div>
								
			
			<div>{{ form.resort.errors }}</div>
			<div class="clearer"></div>
			<div class="leftcol">{{ form.resort.label_tag }}</div>
			<div class="rightcol">
				<div class="right" id="new_resort_name">
					Name {{ form.new_resort_name }}
					{# <input id="new_resort" type="text" name="new_resort"/> #}
				</div>
				{{ form.resort }}
				<div class="clearer"></div><br/>
				<div>
					My Resort isn't here.<br/>
					{{ form.add_resort }}
					{# <input id='add_resort' type='checkbox'/> #} Add a new one.
				</div>
			</div>
			<div class="clearer"></div>
			
			
			<div>{{ form.start_room.errors }}{{ form.end_room.errors }}</div>
			
			
			<div class="leftcol">Date</div>	
			<div id="dateranger">
				<div>Please select the date range your room will be available</div><br/>
				<div class="cal notlast" id="1_cal">
					<div class="caltitle">
						<img src="/site_media/images/calendarwidget/left_arrow.png" id="prev_month"></img>
					</div><div class="clearer"></div>
					<div class="caldayname">S</div><div class="caldayname">M</div><div class="caldayname">T</div><div class="caldayname">W</div><div class="caldayname">T</div><div class="caldayname">F</div><div class="caldayname">S</div><div class="clearer"></div>
					<div class="caldayboxes"></div>									
				</div>
				<div class="cal notlast" id="2_cal">
					<div class="caltitle"></div>
					<div class="caldayname">S</div><div class="caldayname">M</div><div class="caldayname">T</div><div class="caldayname">W</div><div class="caldayname">T</div><div class="caldayname">F</div><div class="caldayname">S</div><div class="clearer"></div>
					<div class="caldayboxes"></div>									
				</div>
				<div class="cal" id="3_cal">
					<div class="caltitle">
						<img src="/site_media/images/calendarwidget/right_arrow.gif" id="next_month"></img>
					</div><div class="clearer"></div>
					<div class="caldayname">S</div><div class="caldayname">M</div><div class="caldayname">T</div><div class="caldayname">W</div><div class="caldayname">T</div><div class="caldayname">F</div><div class="caldayname">S</div><div class="clearer"></div>
					<div class="caldayboxes"></div>
				</div>
				<div class="clearer"></div>
				<div id="selectrow">
					<div>From {{ form.start_room }}</div>
					<div>To {{ form.end_room }}</div>
				</div>
				<div class="clearer"></div>
			</div>{# end of dateranger #}
				
			
			

			<div id="add_next"><input type="submit" value="Next" /></div>
		</form>

		<div class="somediv"></div>
	</div>{# end of section #}


{% endblock %}






