{# templates/ads/adincludes/adbody.html #}
{% load date_range %}
<style type="text/css" media="screen">
	.datebox{font-weight:bold;padding:0 0 10px 0;}
	.datebox div{font-size:14px;}
</style>
<div>
	{% include "includes/photopicker.html" %}
	<div class='datebox'>
		<div>Available:</div>
		{% display_range ad.start_room ad.end_room %}
		<div>Price:</div>
		{{ ad.price }}<br/>
	{# {{ ad.start_room|date:'M d' }} - {{ ad.end_room|date:'d, Y' }} #}
	</div>
	{# {{ ad.start_date }} - {{ ad.end_date }} #}
	{{ ad.description }}
</div><div class='clearer'></div>
<div class='member'>
	Owner: <a href='{% url profile ad.creator.id %}'>{{ ad.creator }}</a><br/>
	{% if user.is_authenticated %}
		<a href='{% url compose request.user.id ad.id "new" %}'>Send {{ ad.creator }} a message <img src="/site_media/images/envelope-off.png" class="pic" alt="pic"></img></a>
	{% else %}
		<a href='{% url compose 0 ad.id "new" %}'>Send {{ ad.creator }} a message <img src="/site_media/images/envelope-off.png" class="pic" alt="pic"></img></a>
	{% endif %}
</div><br/>
{% with ad.resort as object %}
	{% include 'includes/resorti.html' %}
{% endwith %}