{# templates/admin/admints.html #}
{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<div id="content-main">
		<div id="module">
			<a href='/admin/ts/'>Timeshare Ads</a>
		</div>
		<div id="module">
			<a href='/admin/auth/'>Users</a>
		</div>
		<div id="module">
			<a href='/admin/photologue/'>Photos</a>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
	<div class="module" id="unmodderated">
		<h2>Unmodderated Items</h2>
		
		{% if ads %}
			<h3>Ads</h3>
			{% for ad in ads %}
				<a href='/admin/ts/ad/{{ ad.id }}/' class='addlink'>{{ ad }}</a>
			{% endfor %}
		{% endif %}
		
		{% if comments %}		
			<h3>Comments</h3>
			{% for comment in comments %}
				<a href='/admin/ts/comment/{{ comment.id }}/'>{{ comment }}</a>
			{% endfor %}
		{% endif %}
		
		{% if resorts %}		
			<h3>Resorts</h3>
			{% for resort in resorts %}
				<a href='/admin/ts/resort/{{ resort.id }}/'>{{ resort }}</a>
			{% endfor %}
		{% endif %}
		
		{% if resorttypes %}		
			<h3>Resort Types</h3>
			{% for resort in resorttypes %}
				<a href='/admin/ts/resorttype/{{ resort.id }}/'>{{ resort }}</a>
			{% endfor %}
		{% endif %}
		<br/>
	</div>
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
