{# templates/includes/left-column.html #}
<div id="left_column">
	<div class="section" id="searchbox">
		<form action="/search" method="get" accept-charset="utf-8">
			<input type="text" name="search" value="" id="searcher">
			<input type="submit" value="search">
		</form>
		Search by Country<br/>
		Search by Date<br/>
		Search by Resort<br/>
	</div>
	<div class="section">
		<h2>get an ad</h2><br/>
		<a href="{% url chart %}">
			<img src="/site_media/images/bt_pre.gif" class="pic" alt="bt_pre"></img>
		</a><br/>
		{# <h2>free ad</h2><br/> #}
		<a href="{% url chart %}">
			<img src="/site_media/images/bt_free.gif" class="pic" alt="bt_free"></img>
		</a><br/>
	</div>
</div>{# end of left_column #}
