<div class="news-detail-photo">
	{% for photo in ad.photos.all %}
		{% ifequal forloop.counter 1 %}
			<img class="pic" id="pic_{{ forloop.counter0 }}" src="{{ photo.get_detail_url }}" />
			<div class="caption">
				{{ photo.caption }}
			</div>
		{% endifequal %}
	{% endfor %}
	{% ifnotequal ad.adtype 1 %}
		<div class='thumbnails'>{# thumbnails #}
			{% for photo in ad.photos.all %}
				{# {% ifnotequal forloop.counter 1 %} #}
				<img class="thumbpic" id="thumbpic_{{ forloop.counter0 }}" src="{{ photo.get_displaythumb_url }}" />
				{# {% endifnotequal %} #}
			{% endfor %}
		</div>{# end of thumbnails #}
	{% endifnotequal %}
</div>{# end of news-detail-photo #}