<form action="/search" method="get" accept-charset="utf-8">
	<input type="text" name="search" value="" id="searcher" size='30'>
	<input type="submit" value="search">
</form>




{# <div class='searchchoice' id='searchcountry'>Search by Country</div> #}
{# <div class='searchchoice' id='searchdate'>Search by Date</div> #}
{# <div class='searchchoice searchchoiceactive' id='searchresort'>Search by Resort</div> #}
{# <div class='searchchoice' id='searchall'>All</div> #}


{# <form action="/search" method="get" accept-charset="utf-8"> #}
{# 	<input type="text" name="search" value="" id="searcher" size='30'> #}
{# 	<input type="submit" value="search"> #}
{# </form> #}