{# templates/profile/passwordreset_submit.html #}

{% extends "base.html" %}
{% block extra_head %}
	<style type="text/css" media="screen">
		#loginform{float:left;height:120px;margin:0 100px 0 150px;}
		#forgotform{float:left;height:120px;}
	</style>
{% endblock %}

{% block body %}
	<div class="section" id="wide_column">
		<div class='padder'>
				<h1>Your password has been updated</h1><br/>
				<div id='loginform'>
					
					Where would you like to go next? Back to the <a href='{% url home %}'>Home</a> page or maybe <a href='{% url login_view %}'>Login</a>, to view your profile.


				</div>{# end of loginform #}
				<div id='signupform'>
					{# Enter the email address associated with your account and we will email you a link to reset your password. #}
				</div>{# end of signupform #}
			<div class='clearer'></div>
		</div>{# end of padder #}
	</div>{# end of section #}
{% endblock %}