{# templates/profiler/profile.html #}
{% extends "site_base.html" %}

{% block head_title %}{{ theuser }}{% endblock head_title %}

{% block body %}
	<div class="section" id="wide_column">
		<h1>{% if me %}Your{% else %}{{ theuser }}'s{% endif %} Profile</h1><br/><br/>
		
		{% if me %}
			<h2 class='resortheader'><span>Ads</span></h2><br/><br/>
			<table id='profile'>
				<tr>
					<th>Name</th>
					<th>Approved</th>
					<th>Photo(s)</th>
					<th>Expiration Date</th>
					<th>Type</th>
					<th>Description</th>
					<th>&nbsp;</th>
				</tr>
				{% for ad in ads %}
					<tr>
						<td><a href='{% url ad_detail ad.id %}' class='proname'>{{ ad.name }}</a></td>
						<td><div class='premod{{ ad.premod }}'>&nbsp;</div></td>
						<td><div class='prothumb'>{% include 'includes/justthumbs.html' %}</div></td>
						<td><div class='expad'>{{ ad.expiration_date|date:"F d, Y" }}</div></td>
						<td><span class='medalholder{{ ad.adtype }}'></span><span class='promedti'>{{ ad.get_adtype_display }}</span></td>
						<td><p class='prodesc'>{{ ad.description|truncatewords:"30" }}</p></td>
						<td><a href='{% url ad_edit ad.id %}' class='buttoner'><span class='editad'>edit</span></a></td>
					</tr>
				{% endfor %}
			</table><br/><br/>
		{% endif %}
		

		
		TSR member since {{ theuser.date_joined|date:"F Y" }}
	</div>


{% endblock %}
