{# templates/profiler/profile.html #}
{% extends "base.html" %}

{% block head_title %}{{ theuser }}{% endblock head_title %}
{% block extra_head %}
	<style type="text/css" media="screen">
		.paybutton{display:block;}
		.editer{width:42px;float:right;}
		.editerpic{width:42px;margin:0 auto;}
		.uploader{width:42px;margin:0 auto;}
		.dbuttoner{color:red;}
		.profilelinks{float:right;width:300px;border-bottom:1px solid gray;padding:0 0 0 20px;}
		.profilelinks li{float:left;border:1px solid gray;margin:0 10px -1px 0;padding:1px 10px 2px 10px;background:#e1c575;cursor:pointer;
			-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;}
		.profilelinks li.active{border-bottom:1px solid #F2D686;background:#F2D686;}
	</style>
{% endblock %}

{% block body %}
	<div class="section" id="wide_column">
		<div class='padder'>
			<ul class='profilelinks'>
				<li class='active'>Ads</li>
				<li><a href='{% url messages theuser.id %}'>Messages {% if mess %}{{ mess|length }}{% endif %}</a></li>
				<li><a href='{% url usersettings theuser.id %}'>Settings</a></li>
			</ul>
			
			<h1>{{ theuser }}'s Profile</h1><br/><br/>
		
			{% if me %}
				<h2 class='resortheader'><span>Ads</span></h2><br/><br/>
				<table id='profile'>
					<tr>
						<th>Name</th>
						<th>Approved</th>
						<th>Photo(s)</th>
						<th>Expires</th>
						<th>Type</th>
						<th>Description</th>
						<th>Paid</th>
						<th>Delete</th>
					</tr>
					{% for ad in ads %}
						<tr>
							<td><a href='{% url addetail ad.id ad.slug %}' class='proname'>{{ ad.name }}</a></td>
							<td><div class='premod{{ ad.premod }}'>&nbsp;</div></td>
							<td><div class='prothumb'>{% include 'includes/justthumbs.html' %}</div></td>
							<td><div class='expad'>{% ifequal ad.adtype 4 %}Lifetime{% else %}{{ ad.expiration_date|date:"F d" }}<br/>{{ ad.expiration_date|date:"Y" }}{% endifequal %}</div></td>
							<td><span class='medalholder{{ ad.adtype }}'></span><p class='promedti'>{{ ad.get_adtype_display }}</p></td>
							<td><p class='prodesc'>{{ ad.description|truncatewords:"25" }}<a href='{% url ad_edit ad.id %}' class='buttoner editer'><span class='editad'>edit</span></a></p></td>
							<td><div class='paid'>{% if ad.paid %}
								<img src="/admin_media/img/admin/icon_success.gif" class="pic" alt="pic"></img>{% else %}
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="item_number" value="{{ ad.id }}">
								<input type="hidden" name="hosted_button_id" value="{{ ad.paypalid }}">
								<input type="submit" name="submit" alt="PayPal" class='buttoner' value='pay now $' style='color:#7AAA1B;'>
								</form>{% endif %}</div>
							</td>
							<td><a href='{% url ad_delete ad.id %}' class='buttoner dbuttoner'><span class='deletead'>delete</span></a></td>
						</tr>
					{% endfor %}
				</table><br/><br/>
			{% else %} 		{# this is when other people come to your page. #}
				{% if paidmodads %}
					<h3>Timeshares</h3><br/>
					<ul>
						{% for ad in paidmodads %}
							<li><a href='{% url addetail ad.id ad.slug %}'>{{ ad }}</a></li>
						{% endfor %}
					</ul><br/>
				{% else %}
					{{ theuser }} doesn't have any timeshares ready to view.<br/><br/>
				{% endif %}
			{% endif %}
		
			TSR member since {{ theuser.date_joined|date:"F Y" }}
		</div>{# end of padder #}
	</div>{# end of section #}


{% endblock %}



tester
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Z3U8KTPX7M4YU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



bronze
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MBF7JSC4PLHYE">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



silver
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="268KUB3QJEK3J">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>




gold
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZQ48W8J3LJZ8N">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>




{# http://tsr.travis.nu/ad/pay/success/ #}
{# http://tsr.travis.nu/ad/pay/cancel/ #}
{# notify_url=https://tsr.travis.nu/ad/pay/paypal/ #}