{# templates/mission/checkoff.html #}
{% extends "mission/base.html" %}
{% block pageheading %}Checkoff {{ checkoff }}{% endblock pageheading %}
{% load pagination_tags %}

{% block body %}

Today is {{ today|date:"M d y" }}
<br/><br/><br/>

{# fields = ('saltlevel', #}
{# 		'saltbags', #}
{# 		'salttimer', #}
{# 		'uvlight', #}
{# 		'oillevel', #}
{# 		'filterspressure', #}
{# 		'filtersleft', #}
{# 		'boilerflush', #}
{# 		'waterpots', #}
{# 		'doors',) #}

<form enctype="multipart/form-data" action="" method="POST">
	<ul class="checkoffform" style="font-size:1.4em; font-weight:bold;width:750px;">
		<li>
			{{ form.saltlevel.errors }}
		</li>
		<li>
			<span class="first"  >saltlevel</span>
			<span class="second" >{{ form.saltlevel }}</span>
			<span class="third" >% full</span>
		</li>
		<li>
			{{ form.saltbags.errors }}
		</li>
		<li>
			<span class="first" >saltbags</span>
			<span class="second">{{ form.saltbags }}</span>
			<span class="third" >Number of bags on hand</span>
		</li>
		<li>
			<span class="first" >salttimer</span>
			<span class="second">{{ form.salttimer }}</span>
			<span class="third" >Is it set correctly</span>
		</li>
		<li>
			<span class="first" >uvlight</span>
			<span class="second">{{ form.uvlight }}</span>
			<span class="third" >Is the light still on</span>
		</li>
		<li>
			{{ form.oillevel.errors }}
		</li>
		<li>
			<span class="first" >oillevel</span>
			<span class="second">{{ form.oillevel }}</span>
			<span class="third" >How many gallons are in the tank</span>
		</li>
		<li>
			<span class="first" >filterspressure</span>
			<span class="second">{{ form.filterspressure }}</span>
			<span class="third" >Are the front and back pressure similar and above 45psi.</span>
		</li>
		<li>
			{{ form.filtersleft.errors }}
		</li>
		<li>
			<span class="first" >filtersleft</span>
			<span class="second">{{ form.filtersleft }}</span>
			<span class="third" >How many complete sets do we have on hand</span>
		</li>
		<li>
			<span class="first" >boilerflush</span>
			<span class="second">{{ form.boilerflush }}</span>
			<span class="third" >Did you flush it?</span>
		</li>
		<li>
			<span class="first" >waterpots</span>
			<span class="second">{{ form.waterpots }}</span>
			<span class="third" >Did you check the pots and empty them</span>
		</li>
		<li style="height:100px;">
			<span class="first" >doors</span>
			<span class="second">{{ form.doors }}</span>
			<span class="third" >Were the doors locked each night of the week</span>
		</li><div class="clearer"></div><br/><br/>
		<li style="height:100px;">
			<input type="submit" value="Complete Check" style="width:100px;">
		</li>
	</ul>
</form>
<a href="{% url checklist %}">Back to List</a>

{% endblock %}