{# templates/ads/addetail.html #}
{% extends "site_base.html" %}

{% block head_title %}{{ ad }}{% endblock head_title %}
{% block extra_head %}{% include "includes/photopickerhead.html" %}{% endblock %}

{% block body %}
	<div class="section" id="wide_column">
		{% if ad %}
		<div class='padder'>
			<div class="rowheader"><h1>{{ ad }}</h1></div>
			<div>
				{% include "includes/photopicker.html" %}
				{{ ad.description }}
			</div><div class='clearer'></div>
			<div>
				Member: <a href='{% url profile user.id %}'>{{ user }}</a>
			</div><br/>
			<h2 class='resortheader'><span>Resort</span></h2>
			<div class="rowheader"><h1>{{ ad.resort }} - {{ ad.resort.name }}</h1></div>

			<p>
				<img src="{{ ad.resort.picture.get_thumbnail_url }}" class="resortpic" alt="{{ ad.resort }}_photo"></img>
				{{ ad.resort.description }}
			</p>
			<div class='clearer'></div>
		</div>{# end of padder #}
		{% else %}
			This ad is expired
		{% endif %}
	</div>{# end of section #}


{% endblock %}
