{# templates/ads/addelete.html #}
{% extends "site_base.html" %}

{% block head_title %}{{ ad }}{% endblock head_title %}


{% block body %}
	<div class="section" id="wide_column">
		<div class='padder'>
			<div class='subpadder'>
				<div id='profile'>
					<h1>Delete</h1>
					<h2>{{ ad }}</h2><br/><br/>
					<a href='{% url profile user.id %}' class='buttoner' style='float:right;margin-right:20px;'>Go to my profile</a>
					Are you sure want to delete {{ ad }}?<br/>You can't undo this and you won't get a refund for your unused time.<br/>
					{# <a href='{% url ad_delete ad.id %}' class='buttoner' style='width:52px;color:red;'><span class='deletead'>delete</span></a> #}
					<form action="{% url ad_delete ad.id %}" method="post" accept-charset="utf-8">
						<input type="submit" value="delete" class='buttoner' style='width:52px;color:red;background:#eee url(/admin_media/img/admin/icon_deletelink.gif) no-repeat right;width:68px;'>
					</form>
				</div>{# end of profile #}	
			</div>{# end of subpadder #}
		</div>{# end of padder #}
	</div>{# end of section #}


{% endblock %}


{# <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> #}
{# <input type="hidden" name="cmd" value="_s-xclick"> #}
{# <input type="hidden" name="hosted_button_id" value="GWMAUVWHJD2UU"> #}
{# <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> #}
{# <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"> #}
{# </form> #}