{# templates/ads/adlist.html #}
{% extends "base.html" %}

{% load gravatar %}
{% load date_range %}

{% block head_title %}Ad List{% endblock head_title %}

{% block extra_head %}
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			sort = '{{ sort }}';
			direc = '{{ direc }}';
			$('#' + sort).addClass('active').addClass(direc);
			if(direc == 'asc'){
				current = $('#' + sort).attr('href');
				current = current + '&direc=desc';
				$('#' + sort).attr('href',current);
			}
			$('#desc').click(function(e){
				e.preventDefault();
			})
		});
	</script>
	<style type="text/css" media="screen">
		.searchholder{padding:0 0 10px 0;}
	</style>
{% endblock %}

{% block body %}
	<div class="section" id="wide_column">
		<div class='row'>
			<div class='googleadwidelist'>
				{# Here are some Google Ads #}
				{% include "includes/googleadwide.html" %}				
			</div>
			<div class='searchholder'>{% include "includes/searchbox.html" %}</div>
			<div class='clearer'></div>
		</div>
		<div class='rowtitle'>
			<a href='?sort=name' class='rowtitlet' id='name'>Name</a>
			<a href='?sort=date' class='rowtitlet' id='date'>Date</a>
			<a href='' class='rowtitlet' id='desc'>Description</a>
			<a href='?sort=resort' class='rowtitlet' id='resort'>Resort</a>
			<a href='?sort=country' class='rowtitlet' id='country'>Country</a>
			<a href='?sort=price' class='rowtitlet' id='price'>Price</a>
		</div>
		
		{% for ad in ads.object_list %}
			<div class="row{% ifequal ad.adtype 1 %} rowfree{% else %} rowprem{% endifequal %}">
				<div class="rowleft">
					<a href="{% url addetail ad.id ad.slug %}">{{ ad.name }}</a>
					<div class='rowdate'>
						Available<br/>{% display_range ad.start_room ad.end_room %}
						{# {{ ad.start_room|date:'M d' }} - {{ ad.end_room|date:'d, Y' }} #}
					</div>
				
				</div>{# end of rowheader #}
				<div class='rowright'>
					{% ifnotequal ad.adtype 1 %}
						<div class='rowphotos'>
							{% for photo in ad.photos.all %}
								{% ifequal forloop.counter 1 %}
									<img src="{{ photo.get_thumbnail_url }}" class="pic" alt="{{ photo }}"></img>
								{% endifequal %}
								{% ifequal forloop.counter 2 %}
									<img src="{{ photo.get_thumbnail_url }}" class="pic" alt="{{ photo }}"></img>
								{% endifequal %}
							{% endfor %}
						</div>
					{% endifnotequal %}
					<div class='rowdescription'>
						{{ ad.descriptionflat|truncatewords:17 }}
					</div>
					<div class='rowresort'>
						{{ ad.resort }}<br/>
						{# <img src="{{ ad.resort.picture.get_fingernail_url }}" class="pic" alt="{{ photo }}"></img> #}
					</div>
					<div class='rowcountry'>
						<img src="/site_media/images/flagsbig/{{ ad.resort.address_country.iso }}.png" class="pic" alt="{{ ad.resort.address_country }}"></img>
						<p>{{ ad.resort.address_country }}</p>
					</div>
					<div class='rowprice'>$ {{ ad.price }}<br/>{{ ad.get_priceunit_display }}</div>
					{# <div>{{ ad.adtype }}</div> #}
				</div>{# end of rowfooter #}
			</div>{# end of row #}<div class='clearer'></div>
		{% endfor %}
		<div class="pagination">
		    <span class="step-links">
		        {% if ads.has_previous %}
		            <a href="?page={{ ads.previous_page_number }}&amp;sort={{ sort }}&amp;direc={{ direc }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ ads.number }} of {{ ads.paginator.num_pages }}.
		        </span>

		        {% if ads.has_next %}
		            <a href="?page={{ ads.next_page_number }}&amp;sort={{ sort }}&amp;direc={{ direc }}">next</a>
		        {% endif %}
		    </span>
		</div>
		<div class='googleadwidelist'>
			{% include "includes/googleadwide.html" %}
		</div>
	</div>{# end of section #}

{% endblock %}










               




