{# templates/ads/adlist.html #}
{% extends "site_base.html" %}

{% load gravatar %}

{% block head_title %}Ad List{% endblock head_title %}

{% block body %}
	<div class="section" id="wide_column">
		<div class='row'>
			{# Here are some Google Ads #}
			<img src="/site_media/images/googleads.jpg" alt="googleads" style='padding:0 0 0 171px;'></img>
		</div>
		
		<div class='rowh3'>
			<h3>Premium Ads</h3>
			<div class='desc'>Description</div>
			<div class='date'>Date</div>
			<div class='user'>User</div>
			<div class='rest'>Resort</div>
			<div class='con'>Country</div>
		</div>
		
		{% for ad in adp_list %}
			<div class="row">
				<div class="rowleft">
					<a href="{% url addetail ad.id %}">{{ ad.name }}</a>
					<div class='rowphotos'>
						{% for photo in ad.photos.all %}
							{% ifequal forloop.counter 1 %}
								<img src="{{ photo.get_thumbnail_url }}" class="pic" alt="{{ photo }}"></img>
							{% endifequal %}
							{% ifequal forloop.counter 2 %}
								<img src="{{ photo.get_thumbnail_url }}" class="pic" alt="{{ photo }}"></img>
							{% endifequal %}
						{% endfor %}
					</div>
				</div>{# end of rowheader #}
				<div class='rowright'>
					<div class='rowdescription'>
						{{ ad.description|truncatewords:20 }}
					</div>
					<div class='rowdate'>
						Available<br/>
						{{ ad.start_room }} - {{ ad.end_room }}
					</div>
					<div class='rowuser'>
						{{ ad.creator }}<br/>
						{# {% gravatar ad.creator 40 %}<br/> #}
						send message
					</div>
					<div class='rowresort'>
						{{ ad.resort }}<br/>
						<img src="{{ ad.resort.picture.get_fingernail_url }}" class="pic" alt="{{ photo }}"></img><br/>
						{{ ad.resort.name }}
					</div>
					<div class='rowcountry'>
						<img src="/site_media/images/flags/{{ ad.resort.address_country.iso }}.gif" class="pic" alt="{{ ad.resort.address_country }}" style="width:32px;height:22px;"></img><br/>
						{{ ad.resort.address_country }}
					</div>

				</div>{# end of rowfooter #}
			</div>{# end of row #}<div class='clearer'></div>
		{% endfor %}



		<div class='rowh3'>
			<h3>Free Ads</h3>
			<div class='desc'>Description</div>
			<div class='date'>Date</div>
			<div class='user'>User</div>
			<div class='rest'>Resort</div>
			<div class='con'>Country</div>
		</div>		
		{% for ad in adf_list %}
			<div class='rowfree'>
				<div class="rowheaderfree">
					<a href="{% url addetail ad.id %}">{{ ad.name }}</a>
				</div>{# end of rowheader #}
				<div class='rowfooterfree'>
					<div class='rowdescriptionfree'>
						{{ ad.description|truncatewords:20 }}
					</div>
					<div class='rowdatefree'>
						Available<br/>
						{{ ad.start_room }} - {{ ad.end_room }}
					</div>
					<div class='rowinfofree'>
						{{ ad.creator }}<br/>
						{{ ad.start_room }} - {{ ad.end_room }}
					</div>
					<div class='rowinfofree'>
						{{ ad.resort }}<br/>
						{{ ad.resort.name }}
					</div>
					<div class='rowcountryfree'>
						<img src="/site_media/images/flags/{{ ad.resort.address_country.iso }}.gif" class="pic" alt="{{ ad.resort.address_country }}" style="width:32px;height:22px;"></img><br/>
						{{ ad.resort.address_country }}
					</div>
				</div>{# end of rowfooter #}
			</div>{# end of rowfree #}<div class='clearer'></div>
		{% endfor %}

	</div>


{% endblock %}










               




