{# templates/contact/contact.html #}
{% extends "site_base.html" %}

{% block head_title %}Contact{% endblock head_title %}
{% block extra_head %}
    <script src="/site_media/js/timer.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		feature({{ adp_list.count }});
	</script>
{% endblock extra_head %}
{% block body %}
	<div id="main_column" class='centered'>
		<div class="section" style='padding:20px;'>
			<h1>Contact Page</h1>
			<br/><br/>
			<form action="" method="POST">
				<table class='tsrform'>
					{% for field in form %}
						<tr>
						<td class='formlabel'>{{ field.label }}</td>
						<td class='fields'>
							{% if field.errors %}<div>{{ field.errors }}</div><br/>{% endif %}
							{{ field }}							
						</td>
						</tr>
					{% endfor %}
					<tr>
						<td class='label'>&nbsp;</td>
						<td class='fields'><input type="submit" value="Send &rarr;" id='submit'></td>
					</tr>
				</table>
			</form>
		</div>
	</div>{# end of main_column #}
	
{% endblock %}
