{# templates/hobby/python.html #}
{% extends "hobby/base.html" %}
{% block pageheading %}PYTHON{% endblock pageheading %}
{% load pagination_tags %}

{% block body %}

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="320" id="utv466078"><param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=1524807"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/1524807"/><embed flashvars="autoplay=false&amp;brand=embed&amp;cid=1524807" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv466078" name="utv_n_205016" src="http://www.ustream.tv/flash/live/1/1524807" type="application/x-shockwave-flash" /></object><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Streaming live video by Ustream</a>

<embed width="563" height="266" type="application/x-shockwave-flash" flashvars="channelId=1524807&brandId=1&channel=#starfish-expo-live&server=chat1.ustream.tv" pluginspage="http://www.adobe.com/go/getflashplayer" src="http://www.ustream.tv/flash/irc.swf" allowfullscreen="true" /><br/>

python page
{% endblock %}
