{# templates/base.html #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML...TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		{# <link href=' http://fonts.googleapis.com/css?family=Droid+Serif:bold' rel='stylesheet' type='text/css'> #}
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<meta content="Timeshare Rentals, Rentals, Timeshare, Vacation" name="keywords"/>
		<meta content="2010" name="year"/>
		<meta content="Timeshare Rental" name="category"/>
		<meta content="index,follow" name="robots"/>
		<meta content="en" name="content-language"/>
		<title> TimeshareRentals.com - {% block head_title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/site_media/css/global.css" >
		{% ifequal settings.WHICH_ENVIRONMENT 'development' %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
		{% else %}
		<script type="text/javascript" src="/site_media/js/jquery-1.5.1.min.js"></script>
		<script type="text/javascript" src="/site_media/js/jquery-ui-min.js"></script>
		{% endifequal %}
		<script type="text/javascript" src="/site_media/js/navigate.js"></script>
		{# // <script type="text/javascript" src="http://use.typekit.com/gis0abx.js"></script> #}
		{# // <script type="text/javascript">try{Typekit.load();}catch(e){}</script> #}
		{% block extra_head %}{% endblock extra_head %}
	</head>
	<body>
		<div id="page_container">
			<div id="header">
				<div class='userinfo'>
					{% if user.is_authenticated %}
						{% if user.is_staff %}
							<a href="/admin/">Admin</a> | 
						{% endif %}
						<a href="{% url profile user.id %}">{{ user }}</a> | 
						<a href="{% url logout %}">Logout</a>
					{% else %}
						<a href="{% url login %}">Login</a>/
						<a href="{% url newuser %}">Sign Up</a>
					{% endif %}
				</div>{# end of userinfo #}
				<h1 id="ts_home"><a href="/"><span>TimeShareRentals.com</span></a></h1>
				<div id="ts_nav">{% block navigation %}{% endblock navigation %}</div>
			</div>{# end of header #}

			<div id="bd">
				{% block body %}{% endblock %}
				<div class="clear"> </div>{# end of clear #}
			</div>{# end of bd #}
			<div class="clearer"></div>
		
		</div>{# end of page_container #}
		<div id="footer">
			<p id="copyright">Copyright © 2000 - 2010 Modern Arrangements.</p>
		</div>{# end of footer #}
	</body>
</html>



