html, body{height:100%;}
html, body, div, p, ul, ol, li, h1, h2, h3, h4, pre, form, p, button, img {border:0 none;margin:0;padding:0;}
body {-x-system-font:none;background:#F2D686 url(/site_media/images/leftback.jpg) repeat-x;color:#8D8D85;
	font-family:Tahoma,Arial,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;
	font-style:normal;font-variant:normal;font-weight:normal;line-height:22px;}
ul, li{list-style-type:none;}
a {outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;text-decoration:none;}
a:hover{cursor:pointer;text-decoration:none;}
input, textarea{-x-system-font:none;color:#3A3A35;font-family:Tahoma,Arial,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:17px;}
button{cursor:pointer;display:block;}
div.clear{clear:both;font-size:1px;height:1px;line-height:1px;position:relative;}
#page_container{margin:0 auto;padding:0 0 30px;text-align:left;width:1100px;}
#bd{width:1100px;float:left;min-height:614px;background:url(/site_media/images/tree.jpg) no-repeat top right;padding:20px 0 0 0;}
a, h4 a {/*border-bottom:1px solid #D7E1E9;*/color:#7AAA1B;}
a span{display:none;}
p a:hover, h4 a:hover{border-bottom:1px solid #AAA;color:#333;}
p.link{padding:0 0 0 19px;}
h1{color:#EE2A7B;font-size:26px;font-weight:bold;font-family:'Droid Serif',arial,serif;line-height:40px;}
h2{color:#7AAA1B;font-size:20px;font-weight:bold;font-family:'Droid Serif',arial,serif;line-height:34px;}
h3{color:#7AAA1B;height:16px;font-family:'Droid Serif',arial,serif;line-height:26px;}
/*===================== header ===============================*/
#header {height:249px;background:url(/site_media/images/header.jpg) no-repeat;}
#ts_home{padding:95px 0 0 340px;font-size:60px;height:50px;width:450px;}
.userinfo{height:15px;font-size:12px;font-weight:bold;letter-spacing:.03em;margin:0 0 0 600px;color:#EE2A7B;}
.userinfo a{color:#fff;}
/*===================== navigation ===============================*/
#ts_nav{padding:0px;font-size:20px;margin:40px 0 0 0;}
ul#navigation{height:46px;}
ul#navigation li{float:left;min-width:130px;padding:0 30px;}
ul#navigation li a{cursor:pointer;display:block;height:46px;}
ul#navigation li a#home{background:transparent url(/site_media/images/navigation/home.jpg) no-repeat scroll 0 0;width:125px;}
ul#navigation li a#rent{background:transparent url(/site_media/images/navigation/rent.jpg) no-repeat scroll 0 0;width:190px;}
ul#navigation li a#advertise{background:transparent url(/site_media/images/navigation/advertise.jpg) no-repeat scroll 0 0;width:198px;}
ul#navigation li a#contact{background:transparent url(/site_media/images/navigation/contact.jpg) no-repeat scroll 0 0;width:172px;}
ul#navigation li a#home:hover, ul#navigation li a#advertise:hover, ul#navigation li a#rent:hover, ul#navigation li a#contact:hover{background-position:0 -46px;}
#footer ul#navigation li a{cursor:pointer;display:block;height:87px;}
#footer ul#navigation li a#home{background:transparent url(/site_media/images/navigation/home-gray.jpg) no-repeat scroll 0 0;width:194px;}
#footer ul#navigation li a#rent{background:transparent url(/site_media/images/navigation/rent-gray.jpg) no-repeat scroll 0 0;width:176px;}
#footer ul#navigation li a#advertise{background:transparent url(/site_media/images/navigation/advertise-gray.jpg) no-repeat scroll 0 0;width:271px;}
#footer ul#navigation li a#contact{background:transparent url(/site_media/images/navigation/contact-gray.jpg) no-repeat scroll 0 0;width:219px;}
/*===================== generic ===================================*/
.left{float:left;}
.right{float:right;}
.clearer{clear:both;}
.italicer{font-style:italic;}
.errorlist{color:red;font-size:9px;border:1px solid red;width:200px;padding:0 0 0 10px;}
.buttoner{background:#eee;-moz-border-radius:5px;-webkit-border-radius:5px;padding:2px 4px 2px 6px;font-weight:bold;cursor:pointer;
	border:1px solid #aaa;-moz-box-shadow:1px 1px 1px #444;-webkit-box-shadow:1px 1px 1px #444;box-shadow:1px 1px 1px #444;display:block;}
.pink{color:#EE2A7B;}
/*===================== left column ===============================*/
#left_column {float:left;padding:0 0 0px;width:330px;}
.section{border:1px solid gray;padding:10px;margin:5px;-moz-border-radius:.75em;-webkit-border-radius:.75em;}
#searchbox{height:25px;}
#searchbox #searcher{width:215px;-moz-border-radius:.5em;-webkit-border-radius:.5em;margin-bottom:8px;}
#searchbox input{color:#7AAA1B;font-weight:bold;font-size:14px;margin-left:3px;}
#searchbox .searchchoice{color:#7AAA1B;cursor:pointer;float:left;height:15px;background:white;padding:1px 3px 2px 3px;-moz-border-radius:4px;
	-webkit-border-radius:4px;border-top:1px solid #bbb;border-left:1px solid #bbb;border-right:1px solid #999;border-bottom:1px solid #999;
	font-size:10px;}
#searchbox .searchchoiceactive{background:#aaa;color:#fff;}
#searchbox #searchcountry{width:89px;margin-right:13px;}
#searchbox #searchdate{width:73px;margin-right:13px;}
#searchbox #searchresort{width:83px;}
#searchbox #searchall{width:15px;}
/*===================== main column ===============================*/
#main_column{float:left;width:590px;}
#wide_column{width:900px;}
.centered{margin-left:200px;}
.padder{padding:10px;}

.googleadwidehome{width:728px;padding:8px 90px 0 91px;}

.graph{width:820px;height:600px;margin:0 0 0 0px;font-size:20px;border-collapse:collapse;}
.graph th{background:#777;padding:20px 0 5px 20px;background-image:
	-webkit-gradient(linear,left top,left bottom,color-stop(1, rgb(153,150,153)),color-stop(0.67, rgb(90,92,92)));
	-moz-linear-gradient(center top,rgb(153,150,153) 100%,rgb(90,92,92) 67%);}
.graph th h2{color:#efefef;height:46px;}
.graph th .freeh2{background:url(/site_media/images/medals.png) no-repeat 90px -150px;}
.graph th .bronzeh2{background:url(/site_media/images/medals.png) no-repeat 90px -100px;}
.graph th .silverh2{background:url(/site_media/images/medals.png) no-repeat 90px -50px;}
.graph th .goldh2{background:url(/site_media/images/medals.png) no-repeat 90px 0;}
.graph th#firstcol{background:#F2D686;}
.graph td{padding:20px;}
.graph #firstcol{width:100px;}
.graph #secondcol, #thirdcol{}
.graph .descgraph{font-size:16px;color:#7AAA1B;font-weight:bold;}
.graph .adtag{width:150px;height:65px;}
.graph .picchart{padding:0px 0 0 0px;margin-left:-20px;}

.row{border-bottom:1px solid gray;padding:3px 0 0 0;}
.rowprem{height:110px;}
.rowfree{height:69px;}
.rowtitle{height:25px;border-bottom:1px solid gray;background:#ddd;}
.rowtitle a{float:left;cursor:pointer;}
.rowtitle a.asc{background:url(/admin_media/img/admin/arrow-down.gif) no-repeat right center;}
.rowtitle a.desc{background:url(/admin_media/img/admin/arrow-up.gif) no-repeat right center;}
.rowtitle #name{width:45px;padding-left:27px;}
.rowtitle #date{width:42px;padding-left:45px;}
.rowtitle #desc{width:70px;padding-left:250px;cursor:auto;color:#8D8D85;}
.rowtitle #resort{width:50px;padding-left:206px;}
.rowtitle #country{width:55px;padding-left:40px;}
.rowtitle #price{width:45px;padding-left:20px;}
.rowleft{width:205px;font-size:13px;font-weight:bold;float:left;padding:5px 0 0 0px;margin-right:10px;white-space:nowrap;overflow:hidden;}
.rowprem .rowdate{font-size:12px;margin:20px 20px 0 0px;text-align:right;}
.rowfree .rowdate{font-size:9px;line-height:12px;margin:0 20px 0 0px;text-align:right;}
.rowright{width:685px;float:left;padding:5px 0 0 0;}                                                    
.rowphotos{width:205px;padding:8px 0 0 0;float:left;}                                                         
.rowprem .rowdescription{float:left;width:195px;overflow:hidden;margin-left:30px;}
.rowfree .rowdescription{float:left;width:430px;overflow:hidden;}
.rowuser{float:left;width:70px;padding:5px;margin:20px 30px 10px 20px;background:#ccc;color:#fff;-moz-border-radius: 5px;-webkit-border-radius: 5px;height:40px;}
.rowresort{float:left;width:100px;color:#EE2A7B;font-weight:bold;margin-left:20px;}
.rowcountry{float:left;width:80px;padding:0;}
.rowprice{text-align:right;width:52px;float:left;}
.rowprem .rowcountry img{height:62px;width:67px;margin:13px 0 -20px 0;}
.rowfree .rowcountry img{height:62px;width:67px;margin:-8px 0 -20px 0;}
.rowcountry p{width:67px;margin:-5 auto 0 auto;text-align:center;}

.rowheader{margin:0 0 10px;}
.resortheader{background:url(/site_media/images/thin-line.png) repeat-x 0 16px;padding:0 400px;}
.resortheader span{background:#F2D686;padding:0 10px;}

.news-detail-photo{float:right;width:530px;margin:0 0 0 40px;}
.resortpic{float:left;padding:0 20px 20px 0;}

.featured_ts{padding:0px 0 0 19px;}
.featured_ts img{padding:0px 0 10px 0px;}
.whoweare{padding:11px 0 0 0;}
/*===================== form stuff ===============================*/
#newform{margin:30px;}
#newform input{width:450px;}
#newform #submit{width:100px;font-weight:bold;font-size:16px;}
#newform textarea{width:450px;}
#newform #id_start_room,#newform #id_end_room,#newform #id_price{width:180px;}
#newform .formlabel{font-size:16px;font-weight:bold;text-align:right;width:150px;padding:10px 20px 10px 0;}
/*============================================================*/
/*===================== profiler stuff ===============================*/
#profile{border-collapse:collapse;width:900px;}
#profile th{padding:10px;border-bottom:3px solid #c4a039;font-weight:bold;text-align:center;}
#profile td{padding:10px;border-bottom:1px solid #c4a039;}
#profile .proname{font-weight:bold;font-size:16px;}
.editad{background:url(/admin_media/img/admin/icon_changelink.gif) no-repeat right;display:block;width:40px;}
.deletead{background:url(/admin_media/img/admin/icon_deletelink.gif) no-repeat right;display:block;width:50px;}
#profile .expad{background:url(/admin_media/img/admin/icon_clock.gif) no-repeat center top;display:block;width:65px;padding-top:18px;text-align:center;}
#profile .premod1{background:url(/admin_media/img/admin/icon_success.gif) no-repeat center center;display:block;width:45px;}
#profile .premod0{background:url(/admin_media/img/admin/icon_error.gif) no-repeat center center;display:block;width:45px;}
#profile .medalholder1{background:url(/site_media/images/medals.png) no-repeat 0 -150px;display:block;width:46px;height:46px;overflow:hidden;}
#profile .medalholder2{background:url(/site_media/images/medals.png) no-repeat 0 -100px;display:block;width:46px;height:46px;overflow:hidden;}
#profile .medalholder3{background:url(/site_media/images/medals.png) no-repeat 0 -50px;display:block;width:46px;height:46px;overflow:hidden;}
#profile .medalholder4{background:url(/site_media/images/medals.png) no-repeat 0 0px;display:block;width:46px;height:46px;overflow:hidden;}
#profile .promedti{font-weight:bold;margin:0 auto;width:35px;text-align:center;}
#profile .prodesc{width:230px;}
#profile .paid{width:68px;}
#profile .paid img{margin-left:26px;}
.breply{width:65px;}
.reply{background:url(/admin_media/img/admin/inline-restore.png) no-repeat 50px center;height:20px;display:block;}
/*============================================================*/
/*===================== footer ===============================*/
#footer{color:white;height:300px;margin:0;padding:150px 0 0 200px;background:#464646 url(/site_media/images/grass2.jpg) repeat-x;}
/*============================================================*/


/*===================== colors ===============================*/
/* #7AAA1B -- green */
/* #DCDCDC -- gray (not used anywhere from what I can tell)*/
/* #8D8D85 -- gray for all text */
/* #464646 -- gray for footer */
/* #F2D686 -- Tan for the beach */
/* #EE2A7B -- Purple light for h1's and logo */
/* #F2D686 -- tan for background */
/* #e1c575 -- tan slightly darker for background of tab navigation */
/*===================== end ==================================*/
