html, body {height:100%;}
html, body, div, p, ul, ol, li, h1, h2, h3, h4, pre, form, p, button, img {border:0 none;margin:0;padding:0;}
body {
-x-system-font:none;background-image:url(/site_media/images/bg6.gif);background-color:#FFFFFF;
color:#8D8D85;font-family:Tahoma,Arial,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;
font-style:normal;font-variant:normal;font-weight:normal;line-height:16px;}
ul, li {list-style-type:none;}
a {outline-color:-moz-use-text-color;outline-style:none;outline-width:medium;text-decoration:none;}
a:hover {cursor:pointer;text-decoration:none;}
a span, button span, ul#navigation span, h2 span, h3 span {display:none;}
input, textarea {-x-system-font:none;color:#3A3A35;font-family:Tahoma,Arial,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:17px;}
button {cursor:pointer;display:block;}
div.clear {clear:both;font-size:1px;height:1px;line-height:1px;position:relative;}
#page_container {margin:0 auto;padding:0 0 30px;text-align:left;width:920px;}
#bd {background:transparent url(../img/backgrounds/content.gif) repeat-y scroll 0 0;margin:40px 0 0 15px;width:890px;}
a, h4 a {/*border-bottom:1px solid #D7E1E9;*/color:#7AAA1B;}
p a:hover, h4 a:hover {border-bottom:1px solid #AAA;color:#333;}
p.link {padding:0 0 0 19px;}
h3 {height:10px;}
/*===================== header ===============================*/
#header {height:90px;}
#header #logo {float:left;height:48px;padding:20px 0 0 0px;width:135px;}
#header h1 {background:transparent url(/site_media/images/logo/travis2.gif) no-repeat scroll 0 0;cursor:pointer;display:block;height:48px;text-indent:-9999px;}
#header h1:hover {background-position:0 -48px;}
#header h1 a {display:block;height:48px;width:132px;}
#header .contact {float:right;margin:0px;padding:0px;width:115px;position:relative;top:6px;}
/*===================== navigation ===============================*/
ul#navigation {height:50px;}
ul#navigation li {float:left;width:230px;}
ul#navigation li a {cursor:pointer;display:block;height:50px;}
ul#navigation li a#life {background:transparent url(/site_media/images/navigation/life.gif) no-repeat scroll 0 0;}
ul#navigation li a#work {background:transparent url(/site_media/images/navigation/work.gif) no-repeat scroll 0 0;}
ul#navigation li a#mission {background:transparent url(/site_media/images/navigation/mission.gif) no-repeat scroll 0 0;}
ul#navigation li a#hobby {background:transparent url(/site_media/images/navigation/hobby.gif) no-repeat scroll 0 0;}
ul#navigation li a#life:hover, ul#navigation li a#work:hover, ul#navigation li a#mission:hover, ul#navigation li a#hobby:hover {background-position:0 -50px;}

#subnavigation{margin:30px 0 0 100px;color:#7AAA1B;font-size:1.25em;height:30px;width:800px;}
#subnavigation li{display:none;padding:0 0 0 50px;float:left;}
#subnavigation a:link{text-decoration:none;color:gray;}
#subnavigation a:visited{text-decoration:none;color:gray;}
#subnavigation a:hover{color:#7AAA1B;}
#subnavigation a:active{color:gray;}
/*===================== generic ===================================*/
.left{float:left;}
.right{float:right;}
.clearer{clear:both;}
.italicer{font-style:italic;}
/*===================== left column ===============================*/
#left_column {float:left;padding:0 0 27px;width:215px;}
.section{border:1px solid gray;padding:10px;margin:5px;}
/*===================== main column ===============================*/
#main_column{float:left;width:674px;}
/*===================== footer ===============================*/
#footer {margin:0 0 0 15px;padding:26px 0;}
/*============================================================*/


/*===================== colors ===============================*/
/* #7AAA1B -- green*/
/* #DCDCDC -- gray*/

/*===================== end ==================================*/
