#dateranger{margin:0 0 0 100px;}
#dateranger .cal{border:1px solid gray;width:180px;float:left;padding:5px;background:#a5e84b;-moz-border-radius:.5em;-webkit-border-radius:.5em;}
#dateranger .notlast{margin:0 10px 0 0;}
#dateranger .caltitle{width:170px;height:16px;font-size:16px;color:#FFFFFF;padding:3px;background:#6ecff7 url(/site_media/images/calendarwidget/titlebg.gif) repeat-x;text-align:center;-moz-border-radius:.3em .3em 0 0;-webkit-border-radius:.5em;}
#dateranger .caldayname{color:#0072bc;float:left;width:14px;height:9px;padding:0 0 7px 5px;margin:2px 2px -2px 2px;border:1px solid gray;font-weight:bold;border-bottom:2px solid gray;}
#dateranger .calday{float:left;width:15px;height:15px;padding:2px;margin:2px;border:1px solid gray;cursor:pointer;}
#dateranger .caldaynill{float:left;width:15px;height:15px;padding:2px;margin:2px;border:1px solid gray;}

#dateranger .innertitle1{margin:0 auto;}
#dateranger #prev_month{float:left;height:16px;}

#dateranger .innertitle2{margin:0 auto;}

#dateranger .innertitle3{float:left;padding:0 0 0 15px;height:16px;}
#dateranger #next_month{float:right;height:16px;}

#dateranger .highlighted{background:#6ecff7;color:#FFFFFF;}
#dateranger #selectrow{margin:10px 0 20px 260px;}
#dateranger #selectrow div{float:left;width:220px;}


#new_resort{}

input, textarea, select{color:#0072bc;font-weight:bold;font-size:14px;}
#id_name{font-size:20px;size:40;}

.adformh1{margin:15px 0 30px 30px;}

.leftcol{min-height:20px;float:left;width:200px;font-size:15px;font-weight:bold;margin:0 0 40px 40px;}
.rightcol{min-height:20px;float:left;width:520px;margin:0 0 40px 0;}

#add_next{margin:60px 0 20px 600px;}