{# templates/life/family.html #}
{% extends "life/base.html" %}
{% block pageheading %}MY FAMILY{% endblock pageheading %}
{% load pagination_tags %}

{% block body %}

{% for family in family_list %}
<a href="{% url family_d family.id %}"><h2>{{ family.person }}</h2></a>
<p>{{ family.relationship }} - {{ family.birthday }}</p><br/>
{% endfor %}

{# <h2>Annie</h2> #}
{# <p>Wife - </p><br/> #}
{#  #}
{# <h2>Abraham</h2> #}
{# <p>Son</p><br/> #}
{#  #}
{# <h2>Ethan</h2> #}
{# <p>Son</p><br/> #}
{#  #}
{# <h2>Isaiah</h2> #}
{# <p>Son</p><br/> #}

{% endblock %}

